@use './variables' as variables;


span.invisible-block{
    position:absolute;
    height:calc(100% + 1em);
    top:0px;
    width:100%;
}
.hover-box{
    margin-top:1em;
}

div.carousel-wrapper{
    position:relative;
    &>span{
        z-index:11000;
        font-size:3em;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        opacity:0.8;
        color:white;
        &.left{
            left:0.5em;
        }
        &.right{
            right:0.5em;
        }
        &.btn-large{
            height:80px;
            background-color:white;
            color:black;
            padding:0px 0.5em;
            font-size:1.5em;
            opacity:1;
            display:grid;
            place-items:center;
            box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
            &.left{
                left:0px;
                border-radius:0px 0.5em 0.5em 0px;
            }
            &.right{
                right:0px;
                border-radius:0.5em 0px 0px 0.5em;
            }
        }
    }

}

div.category-carousel{
    height:auto;
}

div.grid-with-highlight-wrapper{
    padding:1em;
    font-family:variables.$text_font;
}

div.grid-with-highlight{
    display:flex;
    gap:20px;
    &>div.highlight{
        flex-shrink:0;
        width:500px;
        border-radius:0.3em;
        overflow:hidden;
        &>div{
            height:100%;
            font-size:1.5em;
        }
        @media only screen and(max-width:1070px){
            width:400px;
        }
        @media only screen and(max-width:950px){
            align-self:center;
            width:80%;
            min-width:350px;
        }
    }
    @media only screen and(max-width:950px){
        flex-flow:column;
    }
    &>div.grid{
        display:grid;
        grid-template-columns:repeat(3 , 1fr);
        grid-gap:1.5em 1em;
        padding:0px 2em;
        @media only screen and (max-width:1270px){
            grid-template-columns:repeat(2 , 1fr);
        }
        @media only screen and (max-width:500px){
            grid-template-columns:repeat(1 , 1fr);
            &>div{
                width:300px;
                justify-self:center;
            }
        }
    }
}


h2.designer-heading{
    font-family:variables.$text_font;
    color:variables.$primary_color;
    position:relative;
    padding-bottom:0.5em;
    font-size:1.8em;
    width:fit-content;
    &::after{
        position:absolute;
        width:120%;
        height:2px;
        background-color:variables.$primary_color;
        border-radius:2em;
        content:"";
        bottom:0px;
        left:0px;
    }
}

div.timer-flex{
    display:flex;
    align-items:center;
    padding:0.5em;
    border-radius:0.3em;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.1);
    font-size:1.5em;
    &>svg{
        margin-right:0.5em;
        color:variables.$secondary_color;
    }
    color:variables.$primary_color;
    font-weight:550;
    & span.time-seperator{
        margin:0px 0.1em;
    }
}