@use './variables' as variables;

nav.navbar{
    @include variables.flexBox(center , space-between);
    padding:0.5em 2em;
    padding-top:1em;
    position:relative;
    z-index:1000000;

    &>div.nav-logo{
        width:3em;
        height:3em;
        background-color:lightgray;
    }

    &>div.nav-icon-links{
        margin-right:2em;
        & svg{
            color:variables.$black_color;
            font-size:1.4em;
        }
        &>div{
            display:inline-block;
            position:relative;
            & svg{
                color:variables.$secondary_color;
            }
            &>div.option-hover{
                position:absolute;
                top:100%;
                background-color:white;
                box-shadow:0px 0px 20px 3px rgba(0,0,0,0.08);
                padding:0.5em;
                border-radius:0.3em;
                left:50%;
                transform:translateX(-50%);
                width:130px;
                font-family: variables.$text_font;
                text-align:center;
                &.list-option{
                    padding:0px;
                    overflow:hidden;
                    &>ul{
                        margin:0px;
                        padding-left:0px;
                        text-align:center;
                        list-style:none;
                        font-size:0.85em;
                        cursor:pointer;
                        &>li{
                            padding:0.5em 0px;
                            &:hover{
                                background-color:variables.$lightgray_color;
                            }
                        }
                    }
                }
                    &>button{
                        display:block;
                        padding:0.3em 0.5em;
                    color:white;
                    background-color:variables.$secondary_color;
                    font-weight:550;
                    border:0px;
                    border-radius:inherit;
                    margin:0 auto;
                    margin-top:1em;
                    font-family: inherit;
                    width:100%;
                }
            }
        }
        &>*{
            margin:0px 0.5em;
        }
    }

    &>div.search-bar{
        @include variables.flexBox(center , center);
        &>div.category-combo-box{
            margin-right:1em;
            @include variables.comboBoxStyles();            
            &>span{
                cursor:pointer;
                padding:0.5em 1em;
                border-radius:0.3em;
                background-color:variables.$lightgray_color;
            }
            &>ul{
                border-radius:0.3em;
                background-color:variables.$lightgray_color;
                &>li{
                    padding:0.5em 1em;
                    cursor:pointer;
                    &:first-child{
                        border-radius:0.3em 0.3em 0px 0px;
                    }
                    &:last-child{
                        border-radius:0px 0px 0.3em 0.3em;
                    }
                    &:hover{
                        background-color:variables.$secondary_color;
                        color:white;
                    }
                }
            }
        }
        &>div.search-field{
            @include variables.flexBox(center , space-between);
            position:relative;
            border-radius: 0.3em;
            border:2px solid variables.$gray_color;
            box-sizing: border-box;
            &:focus-within{
                box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
                outline:none;
            }
            &>input{
                outline:none;
                padding:0.5em 1em;
                border:0px;
                font-family:variables.$text_font;
                font-size:1em;
                border-radius:inherit;
                width:350px;
                display:inline-block;
            }
            &>i.search-icon{
                background-color:variables.$secondary_color;
                color:white;
                padding:0.5em 1em;
                border-radius:0px 0.3em 0.3em 0px;
                cursor:pointer;
            }
            &>ul.search-results-box{
                position:absolute;
                width:100%;
                top:100%;
                margin-top:1em;
                left:0px;
                list-style:none;
                padding-left:0px;
                background-color:white;
                box-shadow:0px 0px 20px 3px rgba(0,0,0,0.05);
                border-radius:0.3em;
                padding:1em;
                font-family:variables.$text_font;
                border:2px solid variables.$gray_color;
                pointer-events:none;
                opacity:0;
                &>li{
                    margin:0.5em 0px;
                    cursor:pointer;
                }
                &[visible="1"]{
                    opacity:1;
                    pointer-events:all;
                }
            }
        }
    }
}