@use './variables' as variables;

nav.navbar{
    @include variables.flexBox(center , space-between);
    padding:0.5em 2em;
    padding-top:1em;
    position:relative;
    z-index:1000000;
    background-color:white;

    &[fixed = "1"]{
        position:fixed;
        width:100%;
        box-shadow:0px 3px 5px rgba(0,0,0,0.1);
    }

    &>div.nav-logo{
        width:3em;
        height:3em;
        background-color:lightgray;
        @media screen and (max-width:680px){
            display:none;
        }
    }

    &>div.nav-icon-links{
        margin-right:1em;
        flex-shrink:0;
        @media screen and (max-width:950px){
            margin-right:0px;
        }

        &>div.list-box-icon{
            position:static;
            &.disable-on-large-screens{
                @media screen and (min-width:951px){
                    display:none;
                }
            }
            &>i{
                position:relative;
                z-index:10;
            }
            &>div.list-inner{
                position:absolute;
                transition:transform 0.3s ease-out;
                background-color:white;
                color:variables.$primary_color;
                z-index:9;
                top:0px;
                left:0px;
                width:100%;
                height:auto;
                padding:1em 2em;
                &>h3{
                    display:flex;
                    font-size:1.3em;
                    align-items:center;
                    &>svg{
                        font-size:0.8em;
                        color:variables.$secondary_color;
                    }
                    margin-bottom:0.5em;
                }
                &>ul{
                    font-size: 0.9em;;
                    display:grid;
                    padding-left:0.5em;
                    grid-gap:0.3em 0px;
                }
            }
        }


        & svg{
            color:variables.$black_color;
            font-size:1.4em;
        }
        & i.notif-bubble{
            position:absolute;
            background-color:variables.$secondary_color;
            width:0.5em;
            height:0.5em;
            border-radius:50%;
            right:-0.3em;
            top:-0.3em;
        }
        &>div{
            display:inline-block;
            position:relative;
            & svg{
                color:variables.$primary_color;
                margin-right:0.2em;
            }
            &>div.option-hover{
                position:absolute;
                top:100%;
                background-color:white;
                box-shadow:0px 0px 20px 3px rgba(0,0,0,0.08);
                padding:0.5em;
                border-radius:0.3em;
                left:50%;
                transform:translateX(-50%);
                width:130px;
                font-family: variables.$text_font;
                text-align:center;
                &.list-option{
                    padding:0px;
                    overflow:hidden;
                    &>ul{
                        margin:0px;
                        padding-left:0px;
                        text-align:center;
                        list-style:none;
                        font-size:0.85em;
                        cursor:pointer;
                        &>li{
                            padding:0.5em 0px;
                            &:hover{
                                background-color:variables.$gray_color;
                            }
                        }
                    }
                }
                    &>button{
                        display:block;
                        padding:0.3em 0.5em;
                        color:white;
                        background-color:variables.$secondary_color;
                        font-weight:550;
                        border:0px;
                        border-radius:inherit;
                        margin:0 auto;
                        margin-top:1em;
                        font-family: inherit;
                        width:100%;
                }

                

            }
            &.small-screen-invisible{
                @media screen and (max-width:950px){
                    display:none;
                }
            }
        }
        &>*{
            margin:0px 0.5em;
        }
    }

    &>div.search-bar{
        @include variables.flexBox(center , center);
        &>div.category-combo-box{
            margin-right:1em;
            @include variables.comboBoxStyles();            
            &>span{
                cursor:pointer;
                padding:0.5em 1em;
                border-radius:0.3em;
                background-color:variables.$lightgray_color;
            }
            &>ul{
                border-radius:0.3em;
                background-color:variables.$lightgray_color;
                &>li{
                    padding:0.5em 1em;
                    cursor:pointer;
                    &:first-child{
                        border-radius:0.3em 0.3em 0px 0px;
                    }
                    &:last-child{
                        border-radius:0px 0px 0.3em 0.3em;
                    }
                    &:hover{
                        background-color:variables.$secondary_color;
                        color:white;
                    }
                }
            }

            @media screen and (max-width:780px){
                display:none;
            }
        }
        &>div.search-field{
            @include variables.flexBox(center , space-between);
            position:relative;
            width:400px;
            flex-grow:1;
            border-radius: 0.3em;
            border:2px solid variables.$gray_color;
            display:flex;
            box-sizing: border-box;
            @media screen and (max-width:900px){
                width:300px;
            }

            &:focus-within{
                box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
                outline:none;
            }
            &>input{
                outline:none;
                padding:0.5em 1em;
                border:0px;
                font-family:variables.$text_font;
                font-size:1em;
                border-radius:inherit;
                flex-grow:1;
                // width:350px;
                display:inline-block;
            }
            &>i.search-icon{
                background-color:variables.$secondary_color;
                color:white;
                padding:0.5em 1em;
                border-radius:0px 0.3em 0.3em 0px;
                cursor:pointer;
            }
            &>ul.search-results-box{
                position:absolute;
                width:100%;
                top:100%;
                margin-top:1em;
                left:0px;
                list-style:none;
                padding-left:0px;
                background-color:white;
                box-shadow:0px 0px 20px 3px rgba(0,0,0,0.05);
                border-radius:0.3em;
                padding:1em;
                font-family:variables.$text_font;
                border:2px solid variables.$gray_color;
                pointer-events:none;
                opacity:0;
                &>li{
                    margin:0.5em 0px;
                    cursor:pointer;
                }
                &[visible="1"]{
                    opacity:1;
                    pointer-events:all;
                }
                &>div.inline-categories{
                    display:flex;
                    flex-wrap:wrap;
                    margin-bottom:1em;
                    &>span{
                        margin:0.3em 0px;
                        margin-right:0.5em;
                        padding:0.3em 0.5em;
                        border-radius:2em;
                        border:2px solid variables.$primary_color;
                        color:variables.$primary_color;
                        font-size:0.8em;
                        font-weight:bold;
                        &[selected="1"]{
                            color:white;
                            background-color:variables.$primary_color;
                        }
                    }

                    @media screen and (min-width:681px){
                        display:none;
                    }
                }
            }
        }
        @media screen and (max-width:780px){
            max-width:400px;
            width:80%;
        }
    }

    @media screen and (max-width:680px){
        justify-content:center;
        gap:1em;
        flex-flow:column-reverse;
        align-items:center;
    }
}